.openerp .oe_stat_button  {
  width: 240px !important;
  
}


/*LEFTBAR CHANGE*/
.openerp .oe_leftbar_folded {
  display: block !important;
  min-width: 20px !important;
  width: 20px !important;
  background: #4d394b;
  border-right: 1px solid #afafb6;
  text-shadow: 0 1px 1px white;
  position: relative;
  height: 69% !important;
  cursor: pointer;
}
.openerp .oe_leftbar {
  background: #4d394b;
  border-right: 0px solid #afafb6;.
}
.openerp .nav-pills li > a {
  padding: 6px 4px 2px 18px;
  color: #ab9ba9;
}
.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
  background-color: #4c9689;
  color: white;
  border-radius: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #3e313c;
}

/*NAVBAR CHANGE*/
.navbar-inverse {
    background: #4c9689;
     border: 1px solid  #4c9689;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #4d394b;
    
}
.navbar-inverse .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #7c7bad;
}



.openerp .oe_view_manager table.oe_view_manager_header h2 {
  font-size: 18px;
  margin: 0;
  float: left;
  line-height: 0px;
}
.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp .oe_button, .openerp input[type='submit'] {
  background-image: linear-gradient(to bottom, #ffffff, #ffffff); 

}
.openerp .oe_list_content td, .openerp .oe_list_content th {
  border-left: 1px solid #dfdfdf;
}
/*Увеличиваем чат*/
.oe_im_chatview .oe_im_chatview_header_name {
  max-width: 100%;
}
.oe_im_chatview {
  width: 440px;

}
.oe_im_chatview .oe_im_chatview_content {

  height: 387px;
  width: 440px;
}
.oe_im_chatview .oe_im_chatview_avatar {

  width: 290px;
  max-width: 300%;

}
.oe_im_chatview .oe_im_chatview_message_bubble {
  min-height: 82px;
}
.oe_im_chatview .oe_im_chatview_from {
  margin: 0 0px 10px 120px;
  width: 250px;
}
.oe_im_chatview .oe_im_chatview_bubble_item {
  margin: 0 0 2px 120px;
}
/*слить статус бар и хедер*/
.openerp .oe_view_manager_current > .oe_view_manager_header {
  border-bottom: 0px solid #cacaca; 
}
.openerp .oe_form header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#dedede));
  background-image: -webkit-linear-gradient(top, #dedede, #dedede);
  background-image: -moz-linear-gradient(top, #dedede, #dedede);
  background-image: -ms-linear-gradient(top, #dedede, #dedede);
  background-image: -o-linear-gradient(top, #dedede, #dedede);
  background-image: linear-gradient(to bottom, #dedede, #dedede);
}
/*меняем таблицу календарика*/
.openerp th, .openerp td > oe_form_nosheet {
  padding: 10px;
}

/*status bar bug fixed*/
.openerp ul.oe_form_status li > .arrow span, .openerp ul.oe_form_status_clickable li > .arrow span {
  height: 30px;
}
.openerp ul.oe_form_status li > .label, .openerp ul.oe_form_status_clickable li > .label {
padding-bottom: 8px;
  padding-top: 8px;
  margin-left: 20px;
  margin-right: 10px;
}
.openerp ul.oe_form_status li:first-child > .label, .openerp ul.oe_form_status_clickable li:first-child > .label {
  border-left: 0px solid #cacaca; 
}
/*уменьшаем клетки таблицы*/
.openerp .oe_list_content > tbody > tr > td.oe_list_field_cell {
  padding: 3px 0px;
  white-space: pre-line;
}

.mytable {
margin-left:200px;
}