.openerp th, .openerp td {
    /* padding: 0; */
    /* text-align: left; */
/*    width: 1px;*/
}
/* каждая клетка по своему размеру*/
.openerp .oe_list_content td, .openerp .oe_list_content th {
  padding: 0px 0px;
  line-height: 18px;
}
/* текст в клетки по середине*/
.openerp td {
   vertical-align: middle; 
}



/*Увеличиваем кнопки*/
.openerp .oe_stat_button  {
  width: 240px !important;
}
/*кнопки в хедере меняем фон и цвет наведения*/
.openerp header .oe_stat_button  {
  background: #dddddd;
}
.openerp header .oe_stat_button:hover {
    background: #4c9689;
    color: white;
}
.openerp header .oe_stat_button .stat_button_icon {
    color: #4c9689;
    font-size: 24px;
    padding: 0px 3px;
    width: 37px;
    text-align: center;
}


.openerp .oe_view_manager table.oe_view_manager_header h2 {
  font-size: 18px;
  margin: 0;
  float: left;
  line-height: 0px;
}
.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp .oe_button, .openerp input[type='submit'] {
  background-image: linear-gradient(to bottom, #ffffff, #ffffff); 

}
/*
.openerp .oe_list_content td, .openerp .oe_list_content th {
  border-left: 1px solid #dfdfdf;
}*/
/*Увеличиваем чат*/
.oe_im_chatview .oe_im_chatview_header_name {
  max-width: 100%;
}
.oe_im_chatview {
  width: 440px;

}
.oe_im_chatview .oe_im_chatview_content {

  height: 387px;
  width: 440px;
}
.oe_im_chatview .oe_im_chatview_avatar {

  width: 290px;
  max-width: 300%;

}
.oe_im_chatview .oe_im_chatview_message_bubble {
  min-height: 82px;
}
.oe_im_chatview .oe_im_chatview_from {
  margin: 0 0px 10px 120px;
  width: 250px;
}
.oe_im_chatview .oe_im_chatview_bubble_item {
  margin: 0 0 2px 120px;
}
/*слить статус бар и хедер*/
.openerp .oe_view_manager_current > .oe_view_manager_header {
  border-bottom: 0px solid #cacaca; 
}
.openerp .oe_form header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#dedede));
  background-image: -webkit-linear-gradient(top, #dedede, #dedede);
  background-image: -moz-linear-gradient(top, #dedede, #dedede);
  background-image: -ms-linear-gradient(top, #dedede, #dedede);
  background-image: -o-linear-gradient(top, #dedede, #dedede);
  background-image: linear-gradient(to bottom, #dedede, #dedede);
}
/*меняем таблицу календарика*/
.openerp th, .openerp td > oe_form_nosheet {
  padding: 10px;
}

/*status bar bug fixed*/
.openerp ul.oe_form_status li > .arrow span, .openerp ul.oe_form_status_clickable li > .arrow span {
  height: 30px;
}
.openerp ul.oe_form_status li > .label, .openerp ul.oe_form_status_clickable li > .label {
padding-bottom: 8px;
  padding-top: 8px;
  margin-left: 20px;
  margin-right: 10px;
}
.openerp ul.oe_form_status li:first-child > .label, .openerp ul.oe_form_status_clickable li:first-child > .label {
  border-left: 0px solid #cacaca; 
}
/*уменьшаем клетки таблицы*/
.openerp .oe_list_content > tbody > tr > td.oe_list_field_cell {
  padding: 3px 0px;
  white-space: pre-line;
  height: 37px;
}

.mytable {
margin-left:200px;
}


/*LEFTBAR CHANGE*/
/*.openerp .nav-pills > li.active a:hover {
background-color: #5a0821;
}*/
/*цвет пунктов меню при наведении*/
/*.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #5a0821;
}*/
/*цвет свернутого лефт бара*/
/*.openerp .oe_leftbar_folded {
  background: #740c2b;
}*/
/*цвет заголовков лефт бара*/
/*.openerp .oe_secondary_menu_section {
  color: #df4179;
}*/
/*цвет фона лефт бара*/
/*.openerp .oe_leftbar {
  background: #740c2b;
  border-right: 0px solid #afafb6;.
}*/
/*цвет букв лефт бара*/
/*.openerp .nav-pills li > a {
  color: #f691b5;
}
.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
  background-color: #dfa941;
}*/

/*NAVBAR CHANGE*/
/*.navbar-inverse {
    background:#dfa941;
    border: 1px solid  #dfa941;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #740c2b;
}
.navbar-inverse .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #740c2b;
}
*/
/*SLACK.COM STYLE*/
.openerp .nav-pills > li.active a:hover {
background-color: #7c7bad;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #3e313c;
}
.openerp .oe_leftbar_folded {
  background: #4d394b;
}
.openerp .oe_secondary_menu_section {
    color:#7c7bad;
}
.openerp .oe_leftbar {
  background: #740c2b;
  background: #4d394b;
  width: 120px;
}
.openerp .oe_leftbar > div {
  background: #740c2b;
  background: #4d394b;
  width: 120px;
}
.openerp .nav-pills li > a {
  color: #ab9ba9;
}
.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
  background-color: #4c9689;
}
.navbar-inverse {
    background: #4c9689;
    border: 1px solid  #4c9689;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #4d394b;
}
.navbar-inverse .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #7c7bad;
}
/*подсветка строк в one2many полях*/
.openerp .oe_form_field_one2many .oe_list_content > tbody tr:hover {
    background: #e0e0e0;
}


.openerp .oe_form_field_one2many .oe_list_content > tbody tr {
    font-size: 11px;
/*    font-family: serif;*/
    background: #f5f5f5;
    height: 27px;
}
.oe_list_header_columns {
    font-size:11px;
}
/*Сетка в one2many*/
.openerp .oe_form_field_one2many .oe_list_content > tbody td {
    border-left: 1px solid #ddd;
}
.openerp .oe_list_content > tbody > tr:nth-child(odd) {
  background-color:  #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: -o-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: linear-gradient(to bottom, #f5f5f5, #f5f5f5);
}
